

/* Create cards to store my API Data*/


body {
    background-color: rgba(254, 236, 208, 0.24);
}

#main {
    min-width: 800px;
    max-width: 1440px;
    background-color: rgba(254, 236, 208, 0.24);

}

.word-cloud {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    
}

button {
    position: absolute;
    width: 99px;
    height: 27px;
    left: 1302px;
    top: 24px;
    color:white;
    background-color: #000000;
    border-radius: 5px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex:1;
    
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
    
}



.container {
    /*grid-template-areas: "whiteout whiteout"
                        "onTheComeUp onTheComeUp"
                        "concreteRose concreteRose"
                        "hateUGive hateUGive"
                        "findYourVoice findYourVoice"
                        "blackout blackout";
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 250px 250px;*/
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.whiteout {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 18px; */
    /* top: 229px;; */
    background-color: #83BFF6;
    /*padding: 10px;*/
    /*grid-area: whiteout;*/
    display: flex;
    justify-items: stretch;
    flex:1;
}

.hateUGive {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 491px; */
    /* top: 518px; */
    background-color: #FFFFFF;
    border: 1px solid #000000;
    /*grid-area: hateUGive;*/
    display: flex;
    justify-items: stretch;
    flex:1;
}

.concreteRose {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 491px; */
    /* top: 229px; */
    background-color:#A80A09;
    /*grid-area: concreteRose;*/
    display: flex;
    justify-items: stretch;
    flex:1;
    

}

.blackout {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color:#FFFFFF;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 965px; */
    /* top: 518px; */
    background-color:#574E96;
    /*grid-area: blackout;*/
    display: flex;
    justify-items: stretch;
    flex-wrap: wrap;
    flex:1;

}

.findYourVoice {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 965px; */
    /* top: 229px; */
    background-color: #F0C345;
    /*grid-area: findYourVoice;*/
    display: flex;
    justify-items: stretch;
    flex-wrap: wrap;
    flex:1;

}

.onTheComeUp {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    /* position: absolute; */
    width: 450px;
    height: 297px;
    /* left: 18px; */
    /* top: 518px; */
    background-color: rgba(65, 82, 31, 0.95);
    /*grid-area: onTheComeUp;*/
    justify-items: stretch;
    display: flex;
    flex:1;

}


/* Adjust content to screen size */
@media only screen and (min-width: 300px) and (max-width: 600px){
    .container {
        flex-direction: column;
    }
    button {
        flex-direction: column;
    }
    .hateUGive {
        flex-direction: column;
        height: 300px;
    }

    .concreteRose {
        flex-direction: column;
        /*width: 390px;*/
        height: 300px;
        margin-left: 0px;
    }
    .blackout {
        
        height: 300px;
        margin-left: 0px;
        margin-top:10px;
    }
 
   .onTheComeUp {
       
        height: 300px;
        margin-top:10px;
   }
   .findYourVoice {
       
        height: 300px;
        margin-left: 0px;
        margin-top:10px;
   }
   .whiteout {
    
        height: 300px;
        margin-left: 0px;
        margin-top:10px;
        
   }
}
